@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Webtechnologies Adv. - Frameworks</h3>

<p>This is a simple asp.net Core application. Example work representing and improving skills achieved in course.</p>
