@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Working on this Project</h3>

<address>
    <strong>Slavisa Karalic:</strong> <a href="mailto:slavisa.karalic@hsr.ch">slavisa.karalic@hsr.ch</a><br />
    <strong>Robin Ratcliff:</strong> <a href="mailto:robin.ratcliff@hsr.ch">robin.ratcliff@hsr.ch</a>
</address>
