@model DotNetNotes.Models.Note

@{
    ViewData["Title"] = "Create New Note";
}


<div id="content">
    <h2>Create New Note</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
    <form asp-action="Create" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#content">
        <div class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div>&nbsp;</div>
                <label asp-for="Priority" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                <select asp-for="Priority" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
                </div><div class="col-md-8">&nbsp;</div>
                <div>&nbsp;</div>
                <label asp-for="DueDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <div class='input-group date' id='datetimepicker'>
                    <input type="text" asp-for="DueDate" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
                <div>&nbsp;</div>
                <label asp-for="Text" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Text" class="form-control"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form> 
        </div>
    </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker').datetimepicker();
            });
        </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
